#main-form{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsMedium;
}

span {
    color: #7fffd4;
}

p {
    line-height: 20px;
    max-width: 500px;
    font-family: poppinsLight;
}

em {
    color: #7fffd4;
}


                    /* FORMULARIO*/

#form { 
    margin: 20px;
}

#form-about{
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

form [type="submit"] {
    height: 50%;
    background-color: #7fffd4;
    color: #000000;
    font-weight: bold;
}

form [type="submit"]:hover {
    background-color: #2fffba;
    cursor: pointer;
}

input {
    padding: 10px;
    border-radius: 5rem;
    border: none;
    font-size: 15px;
    margin: 20px 0px 20px 0px;
    width: 100%;
    box-sizing: border-box;
}

#type-project {
    padding: 10px;
    border-radius: 5rem;
    border: none;
    font-size: 15px;
    color: #8c8c8c;
    width: 100%;
    box-sizing: border-box;
}

label {
    margin-top: 20px;
    margin-left: 20px;
    color: #2fffba;
}

textarea {
    overflow-y: hidden;
    padding: 40px;
    border-radius: 1.5rem;
    border: none;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
}
