main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span {
    color: #7fffd4;
}

p {
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

em {
    color: #7fffd4;
}
                    /* IMAGEM*/
img {
    width: 680px;
}

                    /* FORMULARIO*/
form {
    display: flex;
    flex-direction: column;
    width: 97%;
}

form [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: #7fffd4;
    color: #000000;
    font-weight: bold;
}

form [type="submit"]:hover {
    background-color: #2fffba;
    cursor: pointer;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 5rem;
    border: none;
    font-size: 15px;
}

#type-project {
    margin-top: 20px;
    height: 40px;
    padding: 10px;
    border-radius: 5rem;
    border: none;
    font-size: 15px;
    color: #8c8c8c;
}

label {
    margin-top: 20px;
    margin-left: 20px;
    color: #2fffba;
}

textarea {
    overflow-y: hidden;
    height: 20px;
    padding: 35px;
    border-radius: 1.5rem;
    border: none;
    font-size: 15px;
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.text {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.image {
    display: flex;
    flex-direction: row;
    max-width: 25%;
    border-radius: 50%;
}

.text h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.dev {
    font-size: 1.0rem;
}

.strong {
    color: #00ffa6;
}