body {
    background-color: rgb(34, 34, 34);
    color: #fff;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;

}
                /* CABEÇALHO*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: #fff;
}

a:hover {
    color: #7fffd4;
    transition: 0.4s all;
}

#inscreva-se-btn {
    border: 2px solid #7fffd4;
    padding: 10px;
    border-radius: 5rem;
}

#inscreva-se-btn:hover {
    background-color: #7fffd4;
    color: #fff;
}

h1 {
    font-weight: 200;
}
                /* TEXTOS DO MAIN*/
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

p {
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

em {
    color: #7fffd4;
}
                    /* IMAGEM*/
img {
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 900px;
}

span {
    color: #7fffd4;
}

