:root {
    --btn-color-primary: #7fffd4;
    --text-strong-green: #00ffa6;
    --white: #fff;
    --background-color: #222222;
}

body {
    background-color: var(--background-color);
    color: var(--white);
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;

}

/* CABEÇALHO*/
header {
    flex-flow: row wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

@media screen and (max-width: 760px) {
    header {
        flex-flow: column;
        align-items: center;
        align-content: center;
    }
    header ul{
            text-align: center;
    }
}

header #title {
    display: block;
    flex-direction: column;
    line-height: 10px;
    justify-content: center;
    align-items: center;
}

header li {
    display: inline-block;
    margin: 20px;
}

header li a {
    color: var(--white);
    text-decoration: none;
}

a:hover {
    color: var(--btn-color-primary);
    transition: 0.4s all;
}

#inscreva-se-btn {
    border: 2px solid var(--btn-color-primary);
    padding: 10px;
    border-radius: 5rem;
}

#inscreva-se-btn:hover {
    background-color: var(--btn-color-primary);
    color: var(--background-color);
}

header h1 {
    font-weight: 300;
}

/* TEXTOS DO MAIN*/
main #main {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 760px) {
    main #main {
        flex-direction: column-reverse;
    }
}

main #text-div h2 {
    font-size: 3rem;
    line-height: 10px;
    font-family: poppinsmedium;
}

main #text-div span {
    color: var(--btn-color-primary);
}

main #text-div p {
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

main #text-div p em {
    color: var(--btn-color-primary);
}

/* IMAGEM*/
#img-div {
    align-items: center;
    justify-content: flex-start;
}

#img-div img {
    max-width: 680px;
    padding: 10px;
}

@media screen and (max-width: 760px) {
    #img-div img {
        max-width: 460px;
    }
}

@media screen and (max-width: 500px) {
    #img-div img {
        max-width: 320px;
    }
}
