main #main #about-text {
    padding: 20px;
}

#image {
    border-radius: 50%;
    max-width: 100px;
}

h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
    color: #f2f2f2
}

h3 {
    font-size: 1.5rem;
}

span {
    color: #7fffd4;
}

p {
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

em {
    color: #7fffd4;
}

main #team-div {
    display: flex;
    flex-direction: row;
}
main #team-div div {
    padding: 10px;
}

@media screen and (max-width: 760px) {
    main #team-div {
        flex-direction: column;
    }
}


                    /* FORMULARIO*/

.container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.text {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    
}

.image {
    display: flex;
    flex-direction: row;
    max-width: 7.5rem;
    border-radius: 50%;
    padding-left: 0.5rem;
}

.text h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.dev {
    font-size: 1.0rem;
}

.strong {
    color: #00ffa6;
    padding-left: 5rem;
}